<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Automotive Workshop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <a href="" class="navbar-brand">Automotive <span>Workshop</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="index.html" class="nav-item nav-link">Home</a>
                <a href="booking.html" class="nav-item nav-link">Booking</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">History of</a>
                    <div class="dropdown-menu">
                        <a href="history_clients.html" class="dropdown-item">Clients</a>
                        <a href="history_repairman.html" class="dropdown-item">Repairmen</a>
                        <a href="history_appointments.html" class="dropdown-item">Appointments</a>
                    </div>
                </div>
                <a href="add_new_car.html" class="nav-item nav-link">Add a car</a>
                <a href="my_cars.html" class="nav-item nav-link">My cars</a>
                <a href="index.html" class="nav-item nav-link">Log out</a>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->

<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Here are all your cars in your profile</h2>
            </div>
        </div>

        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <section id="main" class="wrapper">
                <div class="inner">
                    <!-- Table -->
                    <div class="table-wrapper">
                        <table class="history">
                            <thead>
                            <tr>
                                <th>Brand</th>
                                <th>Model</th>
                                <th>Plate Number</th>
                                <th>Year</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="vehicle : ${vehicleList}">
                                <td th:text="${vehicle.getManufacturer()}"></td>
                                <td th:text="${vehicle.getModel()}"></td>
                                <td th:text="${vehicle.getNumber()}"></td>
                                <td th:text="${vehicle.getYear()}"></td>
                                <td><a th:href="@{/client/add_new_car/remove/{id}(id=${vehicle.getId()})}" class="button small primary" onClick="CopyToClipboard('paragraph')" id="delete">DELETE</a>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </section>


    </div>
</div>
<!-- Page Header End -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="/mail/jqBootstrapValidation.min.js"></script>
<script src="/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>
